.no-pad {
  padding: 0 !important;
}

#collage {
  height: 54vh;
  width: 100%;
}

.frame3x1 {
  height: 18vh;
  border-right: 0.15rem solid rgba(97, 97, 97, 0.5);
  overflow: hidden;
  width: 100%;
}

.frame3x1:last-of-type {
  border-top: 0.3rem solid rgba(97, 97, 97, 0.5);
}

.frame1x1 {
  height: 27vh;
  border-left: 0.15rem solid rgba(97, 97, 97, 0.5);
  overflow: hidden;
  width: 100%;
}

.frame1x1:first-of-type, .frame3x1:first-of-type {
  border-bottom: 0.3rem solid rgba(97, 97, 97, 0.5);
}

.frame1x1 img, .frame2x1 img {
  width: 100%;
  min-height: 100%;
  object-position: center;
  object-fit: cover;
}

#gallery {
  width: 100%;
  outline: 1px dashed red;
  height: auto;
  overflow: hidden;
}

.thumb {
  width: 33.333%;
  height: 20vh;
  overflow: hidden;
}

img {
  width: 100%;
  min-height: 100%;
  object-position: center;
  object-fit: fill;
}

.brand-logo {
  font-size: 1.2rem !important;
  font-family: 'Roboto Condensed', sans-serif;
}

footer {
  width: 100%;
}

footer nav {
  bottom: 0 !important;
  position: fixed;
}

#icons li {
  text-align: center;
  width: 25%;
}

nav, .nav-wrapper {
  width: 100% !important;
}

nav, nav i, nav a {
  height: 2.8rem !important;
  line-height: 2.8rem !important;
}